

  <h1>ようこそ 美カルテ へ！</h1>

  <P>A girl should be</P>

  <p>two things:</p>

  <p>classy and fabulous.</p>

  <p>Coco Chanel</p>
  <% if user_signed_in?%>
    <h4><%= link_to "start", "/mypage" %></h4>
  <% else%>
    <%= link_to "サインインしてください",  new_user_registration_path%>
  <% end%>
