
<div style="margin: 100px auto">
  <div style="margin: 0 auto;width: 20%;">
    <h1 style="text-align: center;">
    <%= link_to "Hairstyle", histories_path(genre_id:1) %>
    </h1>

    <h1 style="text-align: center;"><%= link_to "Eyelash", histories_path(genre_id:2) %></h1>

    <h1 style="text-align: center;"><%= link_to "Nail", histories_path(genre_id:3) %></h1>
  </div>
</div>
